<header>
  <h1>배스야놀자</h1>
</header>

<a href="#" class="nav-button">Menu</a>

<nav class="nav">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li class="nav-submenu"><a href="#">배스입문</a>
            <ul>
                <li><a href="#">초보질문방</a></li>
                <li><a href="#">배스낚시팁</a></li>
                <li><a href="#">배스채비</a></li>
                <li><a href="#">계절별공략</a></li>
                <li><a href="#">장비조합</a></li>
                <li><a href="#">장비스펙</a></li>
            </ul>
        </li>
        <li class="nav-submenu"><a href="#">조행기</a>
            <ul>
                <li><a href="#">보팅</a></li>
                <li><a href="#">워킹</a></li>
            </ul>
        </li>
        <li class="nav-submenu"><a href="#">회원게시판</a>
            <ul>
                <li><a href="#">자유게시판</a></li>
                <li><a href="#">포인트공유</a></li>
                <li><a href="#">회원캠동영상</a></li>
                <li><a href="#">배스동영상</a></li>
            </ul>
        </li>
        <li class="nav-submenu"><a href="#">함께해요</a>
            <ul>
                <li><a href="#">번출</a></li>
                <li><a href="#">동출</a></li>
            </ul>
        </li>
        <li class="nav-submenu"><a href="#">밸리보트</a>
            <ul>
                <li><a href="#">밸리 렌탈샾</a></li>
                <li><a href="#">밸리판매사이트</a></li>
                <li><a href="#">아웃캐스트</a></li>
                <li><a href="#">피싱온</a></li>
                <li><a href="#">볼켄밸리</a></li>
                <li><a href="#">엑스튜브</a></li>
                <li><a href="#">랩터피싱</a></li>
                <li><a href="#">큐텐밸리</a></li>
                <li><a href="#">세템밸리</a></li>
            </ul>
        </li>
        <li class="nav-submenu"><a href="#">보팅정보</a>
            <ul>
                <li><a href="#">안전수칙</a></li>
                <li><a href="#">보팅Q&A</a></li>
                <li><a href="#">보트튜닝</a></li>
                <li><a href="#">동력금지필드</a></li>
                <li><a href="#">슬로프안내</a></li>
            </ul>
        </li>
        <li class="nav-submenu"><a href="#">중고장터</a>
            <ul>
                <li><a href="#">중고거래</a></li>
                <li><a href="#">무료나눔</a></li>
                <li><a href="#">사기신고</a></li>
                <li><a href="#">노쇼신고</a></li>
                <li><a href="#">거래후기</a></li>
            </ul>
        </li>
    </ul>
</nav>
